@import "../node_modules/materialize-css/dist/css/materialize.min.css";

@font-face {
    font-family: Merriweather;
    src: url("./fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Regular.ttf");
}


.col.s12 > .btn {
    width: 100%;
}

input.yellow-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label {
    color: #fff!important;
}

input.yellow-input:focus + label {
    color: #ffab91!important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffab91!important;
    box-shadow: 0 1px 0 0 #ffab91!important;
}