#RegisterPage {
    background: url("./RegisterBackground.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    font-family: "Merriweather", serif;
    margin: 0px;
}

#RegisterPage > .reg-container {
    background-color: #BEAEAE;
    border-radius: 2px;
    padding: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 48px;
}

.label__description {
    font-family: Merriweather, serif;
    font-size: 32px;
    font-style: italic;
    text-decoration: underline;
    color: #293241;
}

.checkboxLabel {
    color: black;
    font-family: Merriweather;
    font-size: 16px;
}

.selectGenres {
    font-family: Merriweather, serif;
    font-size: 24px;
    font-style: italic;
    text-decoration: underline;
    color: #293241;
}