.Footer {
    font-family: Roboto, serif;
}

.Footer div div {
    height: 120px;
}

.Footer .footerTitle {
    font-size: 32px;
    font-family: Merriweather, serif;
}

.copyleft {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -khtml-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
}

.Footer svg {
    margin-right: 12px;
    margin-left: 12px;
}